body{
    background-color: gray;
}

h1{
    text-align: center;

}
img{
    
    border: 10px solid black;
    border-radius: 20px;
}
.alak1{
    width: 600px;
    height:900px ;
}
.alak2{
    width: 50%;
}